page-home {
    position: relative;
    .button-md {
        height: 5.6rem;
        font-size: 2.0rem;
    }
    button {
        padding-left: 10px;
    }
    ion-title {
        text-align: center;
        font-weight: bold
    }
    img{
        width:100px;
        height:50px;
         padding-left:30px;
         position: absolute;
         right:175px;
         bottom:-4px;
       
    }
    h1{
        text-align: center; 
    }
}
